<!DOCTYPE html>
<html lang="en">

{{> header }}

<body>

    {{> navbar }}


  <div class="row">
        <div class="col-8">
            <h1>Capitan America</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ipsum, minus ipsam maxime quasi recusandae similique eligendi perferendis commodi amet ipsa cum veritatis harum corporis, excepturi sapiente aut odit distinctio.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
        </div>

    </div>



{{> footer }}


</body>

</html>